@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@400;500;700&display=swap');

html,
body,
header,
nav,
main,
aside,
section,
article,
div,
p,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
button,
address,
span {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
}

ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

input,
button,
textarea {
    background: none;
    border: none;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;

    &:active,
    &:focus {
        color: inherit;
    }
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &[type="password"] {
        font-family: sans-serif;
    }
}

address {
    font-style: normal;
}

textarea {
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    transform: scale(0);
}

a {
    color: inherit;
    text-decoration: none;

    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

img {
    vertical-align: top;
}

.en {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}
